* {
    box-sizing: content-box;
}
body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    transition: background 0.3s,color 0.3s;
}
body.active{
    color:white;
    background-color: rgb(26, 26, 26);
}
nav{
    position: fixed;
    top:0;
}

.btnOrange{
    color: white;
    background-color: rgb(244, 123, 42);
    border-radius: 5px;
    border: none;
}
.btnOrange:hover{
    color:black;
}

#navButton{
    position: fixed;
    top:2rem;
    right:2rem;
    font-size: 1.8rem;
    height:3rem;
    width:2rem;
    transition: all, 0.5s;
}
#navButton.active{
    transform: translateX(-11.5rem);
}

.sideNav{
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:12rem;
    background-color: rgb(244, 123, 42);
    padding:1rem;
    transform: translateX(100%);
    transition: all, 0.5s;
}
.sideNav.active{
    transform: translateX(0);
}
.sideNav ul{
    padding: 0;
    margin:0;
}
.sideNav ul li{
    padding: 1rem 0;
    list-style-type: none;
}
.sideNav ul li a{
    color: white;
    text-decoration: none;
}
.sideNav ul li a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#notification{
    position: fixed;
    bottom: 10px;
    right:10px;
}
#notification div{
    background-color: rgb(244, 123, 42);
    color: white;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 10px;
    transition: all,0.3s;
}

#autoText{
    position: absolute;
    bottom: 0;
    left:20px;
}
#autoText p{
    padding:0 20px;
    color:rgb(244, 123, 42);
    font-size: 2rem;
    text-decoration: underline;
}

.popupContainer{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popupContainer.active{
    display: flex;
}

.popupCard{
    background-color: white;
    color: black;
    padding:1rem 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    position: relative;
}
#closePopup{
    position: absolute;
    top:5px;
    right:5px;
    font-size: 20px;
    border-radius: 5px;
}

#displayMode{
    color:white;
    background-color: rgb(26, 26, 26);
    padding: 0.5rem;
    border-radius: 20px;
    transition: background 0.3s,color 0.3s;
}
#displayMode.active{
    color: black;
    background-color: white;
}

.carousel{
    position: relative;
    width:100vw;
    margin:0;
    background-image: url('https://images.unsplash.com/photo-1575663620136-5ebbfcc2c597?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}
.imgContainer{
    width:100vw;
    height:50vh;
}

.zoomCard{
    height: 200px;
    width:200px;
    box-shadow: 0 0 4px rgba(0,0,0,0.7);
    overflow: hidden;
}
.zoomCard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: center center;
}